:root{
	--baseUnit: 14px;
	--primaryColor: #03a9f4;
};


body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
    margin:  0;
    padding: 0;
}

.app-bar{
	background-color: var(--primaryColor);
}
html{
	font-family: 'Segeo UI', 'Roboto', sans-serif;
	font-weight: regular;
	font-size: var(--baseUnit);
	line-height: calc(var(--baseUnit) * 1.5);
}